In [2]:
import sqlite3
connection = sqlite3.connect('my_database2.db')
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%load_ext sql
%sql sqlite:///my_database2.db

In [3]:
%sql SELECT count(*) FROM Deal

 * sqlite:///my_database2.db
Done.

[(10,)]

In [3]:
%sql SELECT avg(quantity) FROM Store

 * sqlite:///my_database2.db
Done.

[(99.0909090909091,)]

In [4]:
%sql SELECT sum(quantity) FROM Store

 * sqlite:///my_database2.db
Done.

[(1090,)]

In [5]:
%sql SELECT max(quantity) FROM Store

 * sqlite:///my_database2.db
Done.

[(200,)]

In [6]:
%sql SELECT ROUND(COS(RADIANS(60)),1) AS Cosine_Value;

 * sqlite:///my_database2.db
Done.

[(0.5,)]

In [84]:
# [-7,2]
%sql SELECT (ABS(RANDOM() % 101) / 100.0) * 9 - 7 AS random_number;

# [-0,25, 0,5]
%sql SELECT (ABS(RANDOM() % 101) / 100.0) * 0.75 - 0.25 AS random_number;

# [-10,5 , -10]
%sql SELECT (ABS(RANDOM() % 101) / 100.0) * 0.5 - 10.5 AS random_number;

 * sqlite:///my_database2.db
Done.
 * sqlite:///my_database2.db
Done.
 * sqlite:///my_database2.db
Done.

[(-10.2,)]

In [50]:
%sql SELECT (CAST(strftime('%w', 'now') AS INTEGER)) AS CurrentDayOfWeek;

 * sqlite:///my_database2.db
Done.

[(6,)]