In [1]:
import sqlite3
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
connection = sqlite3.connect('my_database2.db')
%load_ext sql
%sql sqlite:///my_database2.db

In [6]:
%%sql
SELECT Product.name as tovar, Provider.name as postavshik FROM Store
INNER JOIN Product ON Store.ID_Product = Product.id
INNER JOIN Provider ON Store.ID_Provider = Provider.id

 * sqlite:///my_database2.db
Done.

[('Футбольный мяч', 'Компания A'),
 ('Футбольный мяч', 'Компания B'),
 ('Ноутбук', 'Компания A'),
 ('Ноутбук', 'Компания C'),
 ('Зонтик', 'Компания B'),
 ('Фотоаппарат', 'Компания C'),
 ('Фотоаппарат', 'Компания A'),
 ('Фотоаппарат', 'Компания A'),
 ('Сумка', 'Компания A'),
 ('Наушники', 'Компания B'),
 ('Книга', 'Компания B')]

In [18]:
%%sql
SELECT Product.name, Provider.name, quantity FROM Product
LEFT JOIN Store ON Product.id = Store.ID_Product
LEFT JOIN Provider ON Store.ID_Provider = Provider.id

 * sqlite:///my_database2.db
Done.

[('Футбольный мяч', 'Компания A', 100),
 ('Футбольный мяч', 'Компания B', 150),
 ('Ноутбук', 'Компания A', 50),
 ('Ноутбук', 'Компания C', 70),
 ('Зонтик', 'Компания B', 200),
 ('Фотоаппарат', 'Компания A', 40),
 ('Фотоаппарат', 'Компания A', 200),
 ('Фотоаппарат', 'Компания C', 30),
 ('Сумка', 'Компания A', 0),
 ('Наушники', 'Компания B', 100),
 ('Книга', 'Компания B', 150),
 ('Кофеварка', None, None),
 ('Джинсы', None, None),
 ('Чехол для смартфона', None, None)]

In [33]:
%%sql
SELECT Product.name, Deal.quantity FROM Deal
RIGHT JOIN Store ON Store.id = Deal.ID_Store
RIGHT JOIN Product ON Product.id = Store.ID_Product

 * sqlite:///my_database2.db
Done.

[('Футбольный мяч', 5),
 ('Футбольный мяч', 10),
 ('Футбольный мяч', 3),
 ('Ноутбук', 8),
 ('Футбольный мяч', 6),
 ('Ноутбук', 4),
 ('Футбольный мяч', 7),
 ('Футбольный мяч', 7),
 ('Ноутбук', 9),
 ('Футбольный мяч', 11),
 ('Ноутбук', None),
 ('Зонтик', None),
 ('Фотоаппарат', None),
 ('Фотоаппарат', None),
 ('Фотоаппарат', None),
 ('Сумка', None),
 ('Наушники', None),
 ('Книга', None),
 ('Кофеварка', None),
 ('Джинсы', None),
 ('Чехол для смартфона', None)]